---
export interface Props {
    title?: string;
    description?: string;
    image?: string;
    canonicalURL?: string;
    type?: "website" | "article";
}

const {
    title = "Purple Wave Events",
    description = "Experience unforgettable events with Purple Wave Events. We create unique and immersive experiences that leave lasting memories.",
    image = "/og-image.jpg",
    canonicalURL = Astro.url.href,
    type = "website",
} = Astro.props;
---

<title>{title}</title>
<!-- General Meta -->
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="canonical" content={canonicalURL} />

<!-- Open Graph -->
<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
